<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylel.css">
    
</head>
<body>
    <div class="main-content">
{{>header}}
<p>Use this site to Search Weather </p>
<form><input placeholder="Location....">
<button>Search</button>
</form>
<h5 id="demo" class="wahab" style="padding-top: 50px;"></h5>
<p id="demo1" class="wahab" style="margin-top: -20px;"></p>
<p id="demo2" class="wahab"></p>
<p id="demo3" class="wahab"></p>
<p id="demo4" class="wahab"></p>



    </div>
    
    {{>footer}}
    <script src="app.js"></script>
</body>
</html>